{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">ยืนยันการลบสินค้า</h4>
                </div>
                <form method="POST"> {% csrf_token %}
                <div class="panel-body">
                    <p>คุณต้องการลบสินค้า "{{ order_detail.product.name }}" ออกจากตะกร้าสินค้าหรือไม่?</p>
                    <button type="submit" class="btn btn-danger">ยืนยัน, ลบทันที</button>
                    <a href="{% url 'my_cart' %}" class="btn btn-default">ย้อนกลับ</a>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}